/* Whole Webpage */
body {
  margin: 0px;
  max-width: 1400px;
  font-family: 'Proza Libre';
  font-size: 12px;
  font-weight: bold;
}

/* Navbar Styling */
nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 25px 90px 25px 90px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.logo {
  height: 40px;
  width: auto;
}

#navbar-list {
  color: white;
  list-style-type: none;
  display:flex;
  font-size: 12px;
  font-weight: bold;
  justify-content: space-evenly;
  padding: 0px
  
}

#navbar-list > li {
  margin: 0 10px;
}

/* Section 1 Styling */
#section1 {
  display: flex;
  background-color: #FF4632;
  padding: 130px 90px;
  justify-content: space-between;
}

.title {
  font-size: 50px;
  font-weight: bolder;
  margin-left: 5px;
  margin-top: 25px;
  margin-bottom: 10px;
}
#balloon {
  height: 350px;
  width: auto;
  padding-left: 100px;
}

button {
  border-radius: 100px;
  font-size: 15px;
  padding: 10px 40px;
  margin: 10px 0px;
  background-color: black;
  color: white;
  border: black;
  text-transform: uppercase;
  height: 60px;
  font-weight: bolder;
}

.button-links {
  padding: 10px 40px;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

/* Section 2 Styling */
#section2 {
  display: flex;
  background-color: #CB1582;
  padding: 70px 90px;
  justify-content: space-between;
  color: #A5FFEF;
}

.square {
  height: 400px;
  width: 350px;
  background-color: #A5FFEF;
  position: relative;
  top: -560px;
  left: 80px;
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  color:#CB1582;
  font-weight: bolder;
}

.square > h1 {
  margin: 30px 40px;
}

#gradient {
  height: 300px;
  width: 500px;
  padding-right: 100px;
  padding-top: 250px;
  margin: 0 auto;
  position: relative;
  top: -200px;
}

.container-overlap{
  height: 450px;
}

#section2 > .container > button {
  background-color: #A5FFEF;
  text-transform: uppercase;
}

#section2 > .container > button > a {
  color:#CB1582;
}

/* Section 3 */
#section3 {
  display: flex;
  background-color: #2D46B9;
  padding: 130px 90px;
  justify-content: space-between;
  background-image: url(images/LiE_circles.svg);
  color:#1ED760;
}

#background {
  width: 1320px;
  height: auto;
}

#section3 > .container > button {
  background-color: #1ED760;
  text-transform: uppercase;
}

#section3 > .container > button > a {
  color:#2D46B9;
}

/* Footer Styling */

.footer-list {
  display: flex;
  list-style-type: none;
}

.footer3 {
  display: flex;
  justify-content: space-between;
  padding: 5px 90px 25px 90px;
  background-color: black;
  color: white;
  font-weight: normal;
  font-size: 10px;
  align-items: center;
  margin: 0px;
  height: 50px;
}

footer > .footer-list > li {
  padding: 15px;
}

#usa-flag {
  height: 15px;
  width: auto;
  padding-left: 10px;
}

.footer2 {
  display: flex;
  justify-content: flex-end;
  padding: 0px 90px 0px 90px;
  background-color: black;
  color: white;
  align-items: center;
  font-weight: bolder;
  margin: 0px;
  height: 30px;
}

.footer1 {
  display: flex;
  justify-content: space-between;
  padding: 0px 90px 0px 90px;
  background-color: black;
  color: white;
  align-items: initial;
  font-size: 10px;
}

.social-icons {
  height: 30px;
  width: auto;
}

.container-footer {
  display: flex;
  align-items: initial;
  padding: 40px 40px 0px 40px;
  justify-content: space-around;
}

footer > .container-footer > ul > li {
  list-style-type: none;
  padding: 7px;
}

#logo-footer {
  height: 30px;
  width: auto;
}

.footer-menu {
  margin: 0px;
}

#footer-title {
  color: grey;
}

.icon-border {
  background-color: #222326;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.container-footer-icons {
  display: flex;
  padding-top: 40px;
}